[gitlab_admin]
default_server = "staging"
default_group = "ExampleGroup"

[servers]

  [servers.staging]
  host = "gitlab-staging.example.com"
  token = "xxxxxxxxxxxxxxxxxxxx"

  [servers.production]
  host = "gitlab-production.example.com"
  token = "xxxxxxxxxxxxxxxxxxxx"

[rules]
    [[rules.protected-branches]]
    name = "master"
    push_access_level = 40 # Masters
    merge_access_level = 30 # Developers + Masters

    [[rules.protected-branches]]
    name = "deploy"
    push_access_level = 0 # No one
    merge_access_level = 40 # Masters
